h3 歡迎加入#{projectName}
p 感謝您的加入，以下為您的帳戶資訊：
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td 帳號:
    td #{username}
  tr
    td Email:
    td #{email}
  tr
    td Login Here:
    td #{loginURL}
p
  | 謝謝,
  br
  | #{projectName}
